[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
mlflow = "*"
hyperopt = "*"
pyarrow = "*"
xgboost = "*"
prefect = "==2.0b6"

[dev-packages]

[requires]
python_version = "3.9"
